<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- largeHeap="true" -> PDF 파일을 Rendering 하면 메모리가 많이 소모될 수 있으며,
    이 속성을 통해 앱에 메모리 부족 오류가 발생하지 않도록 충분한 힙이 할당되게 함 -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PspdfKitTest01"
        tools:targetApi="31">
        <activity
            android:name=".testActivity.CTestActivity"
            android:exported="false" />
        <activity
            android:name=".testActivity.BTestActivity"
            android:exported="false" />
        <activity
            android:name=".testActivity.ATestActivity"
            android:exported="false"
            android:label="ATest" />
        <activity
            android:name="com.pspdfkit.ui.PdfActivity"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ExternalExampleActivity"
            android:label="ExternalStorage"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>